*{padding: 0;margin: 0;}
body{margin: 0 auto;}
/*渐变效果*/
.bgcolor{
	width:100%; 
	height:300px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#69cbf0,endColorStr=#097ba6); /*IE 6 7 8*/ 
	background: -ms-linear-gradient(top, #69cbf0,  #097ba6);        /* IE 10 */
	background:-moz-linear-gradient(top,#69cbf0,#097ba6);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#69cbf0), to(#097ba6));/*谷歌*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#69cbf0), to(#097ba6));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #69cbf0, #097ba6);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #69cbf0, #097ba6);  /*Opera 11.10+*/
}
.bar{
	position: fixed;
	width: 50px;
	height: 50px;
	text-align: center;
	color: white;
	line-height: 50px;
	background-color: #333333;
	border-radius: 50%;
	right: 2%;
	bottom: 5%;
	box-shadow: 0 0 5px 5px #CCCCCC;
}
.grayscale{
	-webkit-filter: grayscale(100%);    /* webkit内核支持程度较好 */  
    -moz-filter: grayscale(100%);    /* 其他内核现在并不支持，为了将来兼容性书写 */  
     -ms-filter: grayscale(100%);  
      -o-filter: grayscale(100%);  
         filter: grayscale(100%);    /* 标准写法 */  
}
.dy{
	font-size: 30px;
-webkit-box-reflect: below 0 linear-gradient(transparent, transparent 50%, rgba(255,255,255,.2));
}
p{
	width: 100%;
	text-align: center;
	margin: 20px auto;
	color: #69CBF0;
	font-weight: bold;
	text-shadow: 4px 4px 6px #097BA6;
}
.img_look{
	width: 90%;
	margin: 0 auto;
}
.img_look img {
    height: 400px;
}
.img_look ul li{	
	list-style: none;
	width:160px;  
	height: 400px;  
	float:left;  
	position:relative;  
	overflow:hidden;  
	border-left:2px solid rgba(255,255,255,.8);  ;
}
.img_look ul:hover li{  
  width:40px;  
  -webkit-filter:grayscale(.8);  
  filter:grayscale(.8);
} 
.img_look ul li:hover{  
  width:400px;  
  /*-webkit-filter:grayscale(0) hue-rotate(200deg);  
  filter:grayscale(0) hue-rotate(200deg);*/
 -webkit-filter:grayscale(0);  
  filter:grayscale(0);
}
.img_look li{  
   
 /* 之前的代码省略 */  
 /* 新增transition属性 */  
  transition:all 2s;  
}  

.box{width:100%;padding:3%;box-sizing:border-box;overflow:hidden}
.box .loader{width:30%;float:left;height:200px;margin-right:3%;border:1px #ccc solid;box-sizing:border-box;display:flex;align-items:center;justify-content:center}
@-webkit-keyframes loading-1{0%{transform:scale(0);opacity:0}
5%{opacity:1}
100%{transform:scale(1);opacity:0}
}
.loading-1{width:60px;height:60px;position:relative}
.loading-1 i{display:block;width:60px;height:60px;border-radius:50%;background-color:#333;position:absolute;left:0;top:0;opacity:0}
.loading-1 i:nth-child(1){-webkit-animation:loading-1 1s linear 0s infinite}
.loading-1 i:nth-child(2){-webkit-animation:loading-1 1s linear .2s infinite}
.loading-1 i:nth-child(3){-webkit-animation:loading-1 1s linear .4s infinite}
/*@-webkit-keyframes loading-2{0%{transform:rotate(0) scale(1)}
50%{transform:rotate(180deg) scale(.6)}
100%{transform:rotate(360deg) scale(1)}
}*/

/*一个角为圆角的状态*/
.half_cricle{
	position: relative;
	width: 0;
    height: 0;
    border-width: 100px;
    border-color: #526ef1 transparent transparent #526ef1;
    border-style: solid;
    border-top-left-radius: 50px;
}
