*{padding: 0;margin: 0;}
body{margin: 0 auto;}

.bgcolor{
	width:100%; 
	height:300px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#69cbf0,endColorStr=#097ba6); /*IE 6 7 8*/ 
	background: -ms-linear-gradient(top, #69cbf0,  #097ba6);        /* IE 10 */
	background:-moz-linear-gradient(top,#69cbf0,#097ba6);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#69cbf0), to(#097ba6));/*谷歌*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#69cbf0), to(#097ba6));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #69cbf0, #097ba6);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #69cbf0, #097ba6);  /*Opera 11.10+*/
}
.grayscale{
	-webkit-filter: grayscale(100%);    /* webkit内核支持程度较好 */  
    -moz-filter: grayscale(100%);    /* 其他内核现在并不支持，为了将来兼容性书写 */  
     -ms-filter: grayscale(100%);  
      -o-filter: grayscale(100%);  
         filter: grayscale(100%);    /* 标准写法 */  
}
p{
	width: 100%;
	text-align: center;
	margin: 20px auto;
	color: #69CBF0;
	font-weight: bold;
	text-shadow: 50px 50px 10px #097BA6;
}
.img_look{
	width: 90%;
	margin: 0 auto;
}
.img_look img {
    height: 400px;
}
.img_look ul li{	
	list-style: none;
	width:160px;  
	height: 400px;  
	float:left;  
	position:relative;  
	overflow:hidden;  
	border-left:2px solid rgba(255,255,255,.8);  ;
}
.img_look ul:hover li{  
  width:40px;  
  -webkit-filter:grayscale(.8);  
  filter:grayscale(.8);
} 
.img_look ul li:hover{  
  width:400px;  
  /*-webkit-filter:grayscale(0) hue-rotate(200deg);  
  filter:grayscale(0) hue-rotate(200deg);*/
 -webkit-filter:grayscale(0);  
  filter:grayscale(0);
}
.img_look li{  
   
 /* 之前的代码省略 */  
 /* 新增transition属性 */  
  transition:all 2s;  
}  